<h1>{{title}}</h1>
<p>Order ID: #{{orderId}}</p>
<p>Previous value: ${{previous}}</p>
<p>Order profit: ${{orderProfit}}</p>
<p>Total profit: ${{totalProfit}}</p>
<hr>
<h2>Environment Variables</h2>
<div style="background: #999; border-color: #ccc; padding: 10px;">
  <p>DB_CONN: {{DB_CONN}}</p>
  <p>DB_LOCATION: {{DB_LOCATION}}</p>
  <p>SERVER_LOCATION: {{SERVER_LOCATION}}</p>
</div>
